<h1 *ngIf="this.hardSkillList.length==0 && isEditAll" class="text-xl neonText row justify-content-start animate__animated animate__zoomIn" style="text-align: left;">
    <app-add-skill-btn [isHardSkill]=true class="row justify-content-start"></app-add-skill-btn> Agregar hard skill 
</h1>
<section *ngIf="this.hardSkillList.length>0" class="container">
    <article class="row justify-content-center">
        
            <h1 class="text-xl neonText animate__animated animate__zoomIn mt-xl" style="text-align: left;">
                    <app-add-skill-btn *ngIf="isEditAll" [isHardSkill]=true class="row justify-content-start"></app-add-skill-btn>
                Hard Skills:</h1>
       
        <div *ngFor="let skill of this.hardSkillList" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-lg">
            <app-skill-fig [skillToShow]=skill></app-skill-fig>
        </div>
    </article>
</section>
