.projectCalendar{
    width: 45px;
    background-image: url('https://i.postimg.cc/Y04PFjSb/86-863785-calendar-vector-icon-png-www-pixshark-com-images.jpg');
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
}