<h1 *ngIf="educationList.length==0 && isEditAll" class="text-xl neonText row justify-content-start mt-xl animate__animated animate__fadeInLeftBig" style="text-align: left;">
    <app-add-edu-btn class="row justify-content-start"></app-add-edu-btn> Agregar experiencia educativa 
</h1>
<div *ngIf="educationList.length>0">
    <div class="row mt-xl">
        <h1  class="text-xl neonText animate__animated animate__fadeInRightBig" style="text-align: left;">
            <app-add-edu-btn *ngIf="isEditAll"></app-add-edu-btn> Experiencia Educativa:</h1>
    </div>
    
        <section class="container mt-lg" *ngFor="let education of educationList">

            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-12 col-12">
                    <br><br>
                    <a type="hidden" target="_blank" href={{education.web}} class="btn-42 circle-btn-big neonBox animate__animated animate__fadeInLeftBig" style="background-image: url('{{education.imageUrl}}'); background-position: 50% 50%;">
                    </a> 
                </div>
                
                <article class="col-xxl-9 col-xl-9 col-lg-8 col-md-7 col-sm-12 col-12 animate__animated animate__fadeInRightBig">
                    <br><br>
                    <p class="text-l rounded-box neonBox">
                        <span>
                            <app-edit-edu-btn *ngIf="isEditAll" [educationToEdit]=education class="row justify-content-end"></app-edit-edu-btn>
                            <app-delete-edu-btn *ngIf="isEditAll" [eduToDelete]=education class="row justify-content-end"></app-delete-edu-btn>
                            <h1 class="text-xl neonText" style="text-align: left;"><span class="neonText" style="font-weight: bold;font-size:larger;">{{education.carrer}}</span> 
                                ({{education.status}})
                                <br>
                                {{education.name}} 
                            </h1>
                        </span>
                                {{education.status=="Cursando"||education.status=="Finalizando"?" Desde "+education.yearSince+" hasta el momento ":(education.yearTo-education.yearSince)>0?" Desde "+education.yearSince+" hasta "+ education.yearTo:education.yearSince+" ( casi 1 anio de cursada )"}}
                                <br>
                                Nivel: {{education.level}}
                        <br>
                        {{education.description}}
                    </p>
                        
                </article>
            </div>
        </section>

</div>
