<app-banner class="mb-5"></app-banner>
<section class="container">
    <div class="row">
        <article class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <app-photo></app-photo>
            <div class="row">
                <div class="col-10">
                    <app-name-profession></app-name-profession>
                </div>
            </div>
        </article>
        
        <app-about class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12"></app-about>        
       
    </div>
</section>

