<figure *ngIf="bannerList.length==0" class="container banner-style neonBox animate__animated animate__zoomIn" style="background-image: url('https://i.postimg.cc/Jn9PcFXD/cvara-banner.jpg');">
    <app-edit-banner-btn *ngIf="isEditAll" [bannerToEdit]=bannerList[0] class="row justify-content-end"></app-edit-banner-btn>       
</figure>

<figure *ngIf="bannerList.length>0" class="container banner-style neonBox animate__animated animate__zoomIn" style="background-image: url('{{bannerList[0].imageUrl}}');">
    <app-edit-banner-btn *ngIf="isEditAll" [bannerToEdit]=bannerList[0] class="row justify-content-end"></app-edit-banner-btn>
    <app-delete-banner-btn *ngIf="isEditAll" [bannerToDelete]=bannerList[0] class="row justify-content-end"></app-delete-banner-btn>       
</figure>
