<footer class="row mt-xl animate__animated animate__zoomIn">
    <a href="https://www.linkedin.com/in/cvara0" target="_blank" class="col-6 btn-42 circle-btn circle-img neonBox" style="margin: auto;">
        <img class=circle-img src="assets/images/ln_icon.png" alt="navbar-btns">
    </a>
    <a href="https://www.linkedin.com/in/cvara0" target="_blank" class="col-6 btn-42 circle-btn circle-img neonBox" style="margin: auto;">
        <img class=circle-img src="assets/images/pdf_icon.png" alt="navbar-btns">
    </a>
</footer>
