<button *ngIf="!this.isLoading" (click)="open(addSkillModal)"class="btn-42 circle-btn circle-img neonBox">
    <img class="circle-img" src="https://i.postimg.cc/Hk1YMDMf/aniadir.png" alt="add-img">
</button>

<figure *ngIf="this.isLoading" class="btn-42 circle-btn-big neonBox animate__animated animate__zoomIn" style="background-image: url('https://c.tenor.com/Px_PMiYXFIMAAAAC/black-swirl.gif');background-position: 50% 50%;width: 48px;height: 48px;">
 
</figure>

<ng-template #addSkillModal let-modal>
    <form class="text-l rounded-box neonBox" [formGroup]="addSkillForm" (ngSubmit)="saveAddSkill()" autocomplete="off">
        <h1 class="text-xl neonText mb-3" style="text-align: left;">Aniadiendo nuevo skill {{this.isHardSkill?"dura":"blanda"}}</h1>
        <label for="skillNameText">Nombre del skill<span style="color: red;">*</span></label>    
            <small class="form-text" *ngIf="validSkillName"><br>18 caracteres maximo</small>
                <input #skillNameText maxlength="19" class="mb-3 form-control" type="text" formControlName="skillName">
        
        <label for="skillUrlImageText">Link de una imagen de un simbolo o logo del skill</label>
                <input #skillUrlImageText class="mb-3 form-control" type="url" formControlName="skillImageUrl">

        <label for="skillWebText">Link de una pagina informativa del skill</label>
            <input #skillWebText class="mb-3 form-control" type="url" formControlName="skillWeb">

        <label for="skillLevelText">Nivel de experiencia estimada<span style="color: red;">*</span></label>
                <select class="form-select mb-3" formControlName="skillLevel">
                    <option *ngFor="let level of this.levelList" value={{level}}>
                        {{level}}
                    </option>
                </select>
      
        <button *ngIf="(!validSkillName && validSkillLevel)" (click)="modal.close('Save click')" type="submit" class="btn-42 circle-btn mb-3 mt-5" style="background-image: url('https://i.postimg.cc/QM60bDct/confirm.png');background-position:50% 50%;margin-left: 45%;"></button>
    </form>
    
</ng-template>
