<button *ngIf="!this.isLoading" (click)="open(addEduModal)"class="btn-42 circle-btn circle-img neonBox">
    <img class="circle-img" src="https://i.postimg.cc/Hk1YMDMf/aniadir.png" alt="add-img">
</button>

<figure *ngIf="this.isLoading" class="btn-42 circle-btn-big neonBox animate__animated animate__zoomIn" style="background-image: url('https://c.tenor.com/Px_PMiYXFIMAAAAC/black-swirl.gif');background-position: 50% 50%;width: 48px;height: 48px;">
 
</figure>

<ng-template #addEduModal let-modal>
    <form class="text-l rounded-box neonBox" [formGroup]="addEducationForm" (ngSubmit)="saveAddEducation()" autocomplete="off">
        <h1 class="text-xl neonText mb-3" style="text-align: left;">Aniadiendo nueva educacion</h1>

        <label for="eduNameText">Nombre de la institucion<span style="color: red;">*</span></label>    
            <small class="form-text" *ngIf="validEduName"><br>Ingrese entre 4 y 80 caracteres</small>
                <input #eduNameText maxlength="81" class="mb-3 form-control" type="text" formControlName="eduName">

        <label for="eduCarrerText">Carrera/s<span style="color: red;">*</span></label>    
            <small class="form-text" *ngIf="validEduCarrer"><br>Ingrese entre 4 y 80 caracteres</small>
                <textarea #eduCarrerText maxlength="81" class="mb-3 form-control" type="text" formControlName="eduCarrer"></textarea>

        <label for="eduWebText">Link de la pagina web de la institucion</label>    
                <input #eduWebText class="mb-3 form-control" type="url" formControlName="eduWeb">
        <label for="eduImageText">Link de una imagen o logo de la institucion</label>
                <input #eduImageText class="mb-3 form-control" type="url" formControlName="eduImage">
        
        <label for="eduYearSinceText">Año desde<span style="color: red;">*</span></label>
                <select class="form-select mb-3" formControlName="eduYearSince">
                    <option *ngFor="let year of this.yearSinceList" value={{year.yearNumber}}>
                        {{year.yearNumber}}
                    </option>
                </select>
    
        <div *ngIf="validEduYearSince">
        <label for="eduYearToText">Año hasta<span style="color: red;">*</span></label>
                <select class="form-select mb-3" formControlName="eduYearTo">
                    <option *ngFor="let year of getYearToList" value={{year.yearNumber}}>
                        {{year.yearNumber}}
                    </option>
            </select>
        </div>

        <label for="eduLevelText">Nivel educativo*:</label>
                <select class="form-select mb-3" formControlName="eduLevel">
                    <option *ngFor="let level of this.educationLevel" value={{level}}>
                        {{level}}
                    </option>
                </select>

        <label for="eduStatusText">Estado de cursada*:</label>
                <select class="form-select mb-3" formControlName="eduStatus">
                    <option *ngFor="let status of this.educationStatus" value={{status}}>
                        {{status}}
                    </option>
                </select>
              
        <label for="eduDescriptionText">Descripcion:</label>    
            <small class="text-danger mb-3" *ngIf="validEduDescription"><br>Maximo 800 caracteres</small>
                <textarea #eduDescriptionText maxlength="801" class="mb-3 form-control" type="text" formControlName="eduDescription">
                </textarea>
           <!-- <h1 class="text-xl neonText mb-3" style="text-align: left;">Cambios guardados</h1> si recive un codigo 200-->
        <button *ngIf="(!validEduName && !validEduCarrer && validEduYearSince && validEduYearTo && validEduLevel && validEduStatus && !validEduDescription)" (click)="modal.close('Save click')" type="submit" class="btn-42 circle-btn mb-3 mt-5" style="background-image: url('https://i.postimg.cc/QM60bDct/confirm.png');background-position:50% 50%;margin-left: 45%;"></button>
    </form>
    
</ng-template>
