<button *ngIf="!this.isLoading" (click)="open(editSkillModal)"class="btn-42 circle-btn circle-img mb-3 neonBox">
    <img class="circle-img" src="https://i.postimg.cc/TPpTMdv5/editar.png" alt="add-img">
</button>

<figure *ngIf="this.isLoading" class="btn-42 circle-btn-big neonBox animate__animated animate__zoomIn" style="background-image: url('https://c.tenor.com/Px_PMiYXFIMAAAAC/black-swirl.gif');background-position: 50% 50%;width: 48px;height: 48px;">
 
</figure>

<ng-template #editSkillModal let-modal>
    <form class="text-l rounded-box neonBox" [formGroup]="editSkillForm" (ngSubmit)="saveEditSkill()" autocomplete="off">
        <h1 class="text-xl neonText mb-3" style="text-align: left;">Editando skill {{this.skillToEdit.isHard?"dura":"blanda"}}</h1>
        <label for="skillNameText">Nombre del skill<span style="color: red;">*</span></label>    
            <small class="text-danger" *ngIf="validSkillName"><br>Ingrese entre 4 y 20 caracteres</small>
                <input #skillNameText maxlength="21" class="mb-3 form-control" type="text" formControlName="skillName">
        
        <label for="skillUrlImageText">Link de una imagen de un simbolo o logo del skill</label>
                <input #skillUrlImage class="mb-3 form-control" type="url" formControlName="skillUrlImage">

        <label for="skillWebText">Link de una pagina informativa del skill</label>
            <input #skillWebText class="mb-3 form-control" type="url" formControlName="skillWeb">
        
        <label for="skillLevelText">Nivel de experiencia estimada<span style="color: red;">*</span></label>
                <select class="form-select mb-3" formControlName="skillLevel">
                    <option *ngFor="let level of this.levelList" value={{level}}>
                        {{level}}
                    </option>
                </select>
      
        <button *ngIf="(!validSkillName)" (click)="modal.close('Save click')" type="submit" class="btn-42 circle-btn mb-3 mt-5" style="background-image: url('https://i.postimg.cc/QM60bDct/confirm.png');background-position:50% 50%;margin-left: 45%;"></button>
    </form>
    
</ng-template>
