<button (click)="open(editSkillModal)"class="btn-42 circle-btn circle-img">
    <img class="circle-img" src="https://i.postimg.cc/Hk1YMDMf/aniadir.png" alt="add-img">
</button>

<ng-template #editSkillModal let-modal>
    <form class="text-l rounded-box neonBox" [formGroup]="addSkillForm" (ngSubmit)="saveAddSkill()" autocomplete="off">
        <h1 class="text-xl neonText mb-3" style="text-align: left;">Editando habilidad {{this.skillToEdit.hard?"dura":"blanda"}}</h1>
        <label for="skillNameText">Habilidad</label>    
            <small class="text-danger" *ngIf="validSkillName"><br>Ingrese entre 4 y 20 caracteres</small>
                <input #skillNameText maxlength="21" class="mb-3 form-control" type="text" formControlName="skillName">
        
        
        <label for="skillLevelText">Anios de experiencia</label>
                <select class="form-select mb-3" formControlName="skillLevel">
                    <option *ngFor="let level of this.levelList" value={{level}}>
                        {{level}}
                    </option>
                </select>
      
        <button *ngIf="(!validSkillName && validSkillLevel)" type="submit" class="btn-42 circle-btn mb-3 mt-5" style="background-image: url('https://i.postimg.cc/QM60bDct/confirm.png');background-position:50% 50%;margin-left: 45%;"></button>
    </form>
    
</ng-template>
