<button (click)="open(addProModal)"class="btn-42 circle-btn circle-img neonBox">
    <img class="circle-img" src="https://i.postimg.cc/Hk1YMDMf/aniadir.png" alt="add-img">
</button>

<ng-template #addProModal let-modal>
    <form class="text-l rounded-box neonBox" [formGroup]="addProjectForm" (ngSubmit)="saveAddProject()" autocomplete="off">
        <h1 class="text-xl neonText mb-3" style="text-align: left;">Aniadiendo nuevo proyecto</h1>
        <label for="proNameText">Nombre del proyecto:* </label>    
            <small class="form-text" *ngIf="validProName"><br>Ingrese entre 1 y 80 caracteres</small>
                <input #proNameText maxlength="81" class="mb-3 form-control" type="text" formControlName="proName">
        <label for="proWebText">Link de la pagina web del proyecto:</label>    
                <input #proWebText class="mb-3 form-control" type="url" formControlName="proWeb">
        <label for="proImageText">Link de una imagen o logo del proyecto:</label>
                <input #proImageText class="mb-3 form-control" type="url" formControlName="proImage">
        
        <label for="proDateText">Fecha de finalizacion estimada:*</label>
            <div class="input-group mb-3">
                <input class="form-control" type="date" formControlName="proDate" ngbDatepicker #d="ngbDatepicker">
            </div>
     
        <label for="proDescriptionText">Descripcion:</label>    
            <small class="text-danger mb-3" *ngIf="validProDescription"><br>Maximo 800 caracteres</small>
                <textarea #proDescriptionText maxlength="801" class="mb-3 form-control" type="text" formControlName="proDescription">
                </textarea>
           <!-- <h1 class="text-xl neonText mb-3" style="text-align: left;">Cambios guardados</h1> si recive un codigo 200-->
        <button *ngIf="(!validProName && !validProDescription && !validProDate)" type="submit" class="btn-42 circle-btn mb-3 mt-5" style="background-image: url('https://i.postimg.cc/QM60bDct/confirm.png');background-position:50% 50%;margin-left: 45%;"></button>
    </form>
    
</ng-template>
