<app-edit-napro-btn [naproToEdit]=napro class="row justify-content-end animate__animated animate__fadeInLeftBig"></app-edit-napro-btn>
<h1 class="text-xxl neonText mt-lg mb-lg animate__animated animate__fadeInLeftBig">{{napro.name}} {{napro.surname}} </h1>
<br>
<h1 class="text-xl neonText animate__animated animate__fadeInRightBig">{{napro.profession}}</h1>
<br>
<h1 class="text-xl neonText  animate__animated animate__fadeInLeftBig"><img class="circle-img-static" style="margin-right: 20px; border-radius:5px;height: 30px;width: 50px;" src="{{napro.flag}}" alt="ubi-img">  {{napro.country}}</h1>

