
<!--
<div>
    <div class="row mt-xl">
        <h1  (click)="show()" class="text-xxl neonBox neonText btn-42 rounded-box animate__animated animate__fadeInLeftBig">
             Experiencia laboral</h1>
    </div>
    <section class="container mt-lg {{this.listStyle}}" *ngFor="let experience of experienceList;">

        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-12 col-12">
                <br><br>
                <a type="hidden" target="_blank" href={{experience.web}} class="btn-42 circle-btn-big neonBox  animate__animated {{this.fadeStyle1}}" style="background-image: url('{{experience.imageUrl}}'); background-position: 50% 50%;">
                </a> 
            </div>
            
            <article class="col-xxl-9 col-xl-9 col-lg-8 col-md-7 col-sm-12 col-12  animate__animated {{this.fadeStyle2}}">
                <br><br>
                <p class="text-l rounded-box neonBox">
                    <span>
                        <h1 class="text-xl neonText" style="text-align: left;"><span class="neonText" style="font-weight: bold;font-size:larger;">{{experience.position}}</span> en {{experience.name}} 
                        </h1>
                        {{(experience.yearTo-experience.yearSince)>0?" Desde "+experience.yearSince+" hasta "+ experience.yearTo+" ( "+(experience.yearTo-experience.yearSince)+" anio/s de experiencia ) " :experience.yearSince+" ( casi 1 anio de experiencia )"}}
                    </span>
                    <br>
                    {{experience.description}}
                </p>
                    
            </article>
        </div>
    </section>
</div>
<div class="row mb-xl mt-lg {{this.listStyle}}" >
    <h1 (click)="hide()" class="btn-42 circle-btn circle-img neonBox animate__animated animate__zoomIn" style="margin: auto;">
        <img class="circle-img" src="assets/images/flecha-arriba-logo.png" alt="navbar-btns">
    </h1>
</div>
-->