<button (click)="open(registerModal)" class="btn-42 circle-btn circle-img neonBox">
    <img class="circle-img" src={{registerIcon}} alt="navbar-login-btn">
</button>


<ng-template #registerModal let-modal>
    <form class="text-l rounded-box neonBox" [formGroup]="registerForm" (ngSubmit)="saveRegister()" autocomplete="off">
        <h1 class="text-xl neonText mb-3" style="text-align: left;">Registrarse</h1>
        <label for="nameRegisterText">Nombre</label>    
            <small class="form-text" *ngIf="validRegisterName"><br>Ingrese entre 4 y 80 caracteres</small>
                <input #nameRegisterText class="mb-3 form-control" type="text" formControlName="nameRegister">
        <label for="surnameRegisterText">Apellido</label>    
            <small class="form-text" *ngIf="validRegisterSurname"><br>Ingrese entre 4 y 80 caracteres</small>
                <input #surnameRegisterText class="mb-3 form-control" type="text" formControlName="surnameRegister">
        <label for="emailRegisterText">Email</label>
            <small class="form-text" *ngIf="validRegisterEmail"><br>Ingrese email valido</small>
                <input #emailRegisterText class="mb-3 form-control" type="email" formControlName="emailRegister">
        <label for="passwordRegisterText">Contrasenia</label>
            <small class="form-text" *ngIf="validRegisterPassword"><br>Ingrese entre 8 y 80 caracteres (ver cantidad de caracteres para clave)</small>
                <input #passwordRegisterText class="mb-3 form-control" type="password" formControlName="passwordRegister"> 
        <!-- <h1 class="text-xl neonText mb-3" style="text-align: left;">Cambios guardados</h1> si recive un codigo 200-->
        <button *ngIf="(!validRegisterName && !validRegisterSurname && !validRegisterEmail && !validRegisterPassword)" type="submit" class="btn-42 circle-btn mb-3 mt-5" style="background-image: url('https://i.postimg.cc/QM60bDct/confirm.png');background-position:50% 50%;margin-left: 45%;"></button>
    </form>
</ng-template>