
<div class="container mt-lg">
  <div style="position: relative; top: 70px;left: -90px;">
        <app-edit-skill-btn *ngIf="isEditAll" class="row justify-content-end" [skillToEdit]=skillToShow></app-edit-skill-btn>
       <app-delete-skill-btn *ngIf="isEditAll" class="row justify-content-end" [skillToDelete]=skillToShow></app-delete-skill-btn>
      </div>
    <div class="col-6 animate__animated animate__zoomIn" style="height: 260px;width: 260px;">
           
                <h2 class="text-xl neonText" style="position: relative; top: -45px;"> {{skillToShow.name | uppercase}}</h2>
                <a href="" target="_blank" class="btn-42 circle-btn-big neonBox skill-center-fig-style" style="background-image: url('{{skillToShow.imageUrl}}');position: relative; top: 47px;">
                </a>

                <figure *ngIf="skillToShow.level>0" href="" class="neonBox skill-fig-style" style="left: 105px;top: -130px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/qBCvJtyh/2esf.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>1" href="" class="neonBox skill-fig-style" style="left: 173px;top:-165px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/02XhMr9D/violeta.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>2" href="" class="neonBox skill-fig-style" style="left: 203px;top:-160px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/qRYpxQTX/azul.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>3" href="" class="neonBox skill-fig-style" style="left: 175px;top:-155px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/KYBwR2c2/cian.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>4" href="" class="neonBox skill-fig-style" style="left: 105px;top:-189px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/xd9TRYx0/verdee.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>5" href="" class="neonBox skill-fig-style" style="left: 35px;top:-282px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/rFwJvLvp/amarilloo.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>6" href="" class="neonBox skill-fig-style" style="left: 7px;top:-416px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/jq8D8WPL/naranjaa.png" alt="img">
                </figure>
                <figure *ngIf="skillToShow.level>7" href="" class="neonBox skill-fig-style" style="left: 35px;top:-549px;">
                    <img style="width: 48px; height:48px;" src="https://i.postimg.cc/c1cRd4YS/rojoo.png" alt="img">
                </figure>
                
    </div>
               
                <!--position: relative;top: 115px; width: 135px;margin-left: 60px; -->
</div>
